@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
*,
*::after,
::before {
  box-sizing: border-box;
}

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-bg: hsl(207, 26%, 17%);
  --very-dark-blue-text: hsl(209, 23%, 22%);
  --dark-grey-text: hsl(0, 0%, 52%);
  --very-light-grey-bg: hsl(0, 0%, 98%);
  --white: hsl(209, 23%, 22%);

  /* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */
}

body {
  margin: 0;
  padding: 0;
  /* height: 100vh; */

  background-color: var(--very-light-grey-bg);
  font-family: 'Nunito Sans', sans-serif;
}
article {
  background-color: var(--white);
}

label {
  color: var(--very-dark-blue-text);
  font-weight: 600;
}

img {
  max-width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  display: inline-block;
  color: var(--dark-grey-text);
  font-weight: 300;
}

h3 {
  font-size: 1.3rem;
}

.logo {
  font-weight: 600;
}
.custom-container {
  width: 85%; /* this make container fluid*/
  height: auto;
  background-color: #fff; /* this make content background-color*/
  margin-right: auto; /* this make content center*/
  margin-left: auto; /* this make content center*/
}
.navbar {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2.5em; */
  font-weight: 600;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-link {
  color: #000;
}

.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2.5em;
}

.form {
  width: 100%;
}
#search {
  padding: 1em 1em 1em 5em;
  width: 100%;
}

.fa-search {
  position: absolute;
  top: 21px;
  left: 31px;
  color: var(--dark-grey-text);
}

.country-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;

  margin: 2.5em 0;
}
.country-list a {
  width: 75%;
}

.country {
  background-color: #fff;
  display: flex;
  flex-direction: column;

  cursor: pointer;
}

.country__name {
  font-weight: 600;
  color: var(--very-dark-blue-text);
}

.country__infos {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.country__info {
  margin-bottom: -0.5em;
}

.country-detail {
}

.country_details {
  display: flex;
}

.country_details-name {
}

.country-detail__img-container {
  width: 50%;
}
.country-detail__img-container img {
  width: 100%;
}

.country-details-left,
.country-details-right {
  display: inline-block;
}
.details-container {
}

.country-details__info {
}

.backbtn-container {
}
.backbtn-container a {
}

.detail__borders {
  display: inline-block;
}
.detail__borders li {
  display: inline-block;
  margin-left: 1em;
  padding: 0.2em 1em;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.fa-long-arrow-alt-left {
}
@media screen and (max-width: 1224px) {
  .country-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .country-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .country-list {
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1.5em;
  }

  .hero {
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
    width: 100%;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
    font-weight: 600;
  }
  .country-detail__img-container {
    width: 80%;
    margin-bottom: 1.5em;
  }
  .country_details {
    flex-direction: column;
  }

  .country-details__info {
    flex-direction: column;
  }

  .details-container {
    width: 90%;
  }
}
